/** VARIABLES **/


// MEDIAQUERIES
$mediaqueries: (
	hover: 			"(hover: hover)",
	ie: 			"screen and (-ms-high-contrast: active), (-ms-high-contrast: none)",
	safari: 		"screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)",
	safari2: 		"not all and (min-resolution:.001dpcm)",
	landscape:		"(orientation: landscape)",
	portrait:		"(orientation: portrait)",
	minAR:			"(min-aspect-ratio: 16/9)",
	maxAR:			"(max-aspect-ratio: 16/9)",
	mobS3: 			360,
	mobS2: 			480,
	mobS: 			640,
	mob: 			767,
	tabS: 			820,
	tab: 			991,
	lapS3: 			1024,
	lapS2: 			1199,
	lapS: 			1280,
	lap: 			1367,
	deskS: 			1440,
	desk: 			1560,
	deskB: 			1680
);


// GENERAL CONFIG
$widthLimit: 			1060px;
$paddingGeneral: 		25px;
$paddingGeneralMob: 	20px;


// COLORS
$black: 			#000;
$blackL: 			#292929;

$grayD: 			#4D4D4D;
$grayM:	 			#6F6F6F;
$gray:	 			#969696;
$grayL: 			#C4C4C4;
$grayL2: 			#E4E4E4;

$white: 			#FFF;

$blueL:				#1ecbe0;

$lila: 				#7355b0;

$purple: 			#6974dc;

$greenD: 			#074707;
$greenM: 			#0F812E;
$green: 			#01B35A;
$greenL: 			#2ff0b5;

$goldM: 			#D9AC3D;
$gold: 				#DAB64F;

$red: 				#ec2020;

$success: 			#219C3E;
$warning:			#D66519;
$error: 			$red;
$information: 		#2476CE;


// GLOBAL FONTS
$ftRegular:			arial, sans-serif;
$roboto: 			'Roboto', $ftRegular;

$fontFamily: 		$roboto;
$baseFont: 			16;