/** PLACEHOLDERS **/


// WIDTH
%width100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

%paddingLimit {
    padding-left: $paddingGeneral;
    padding-right: $paddingGeneral;
    @include mq {
        padding-left: $paddingGeneralMob;
        padding-right: $paddingGeneralMob;
    }
}

%widthLimit {
    @extend %width100;
    max-width: $widthLimit;
    @extend %paddingLimit;
}


// PSEUDO ELEMENTS
%pseudoEl {
    @include flex;
    @extend %width100;
    content: '';
}


// FAMILIES FONT
%roboto {
	font-family: $roboto;
}


// TEXT
%title {
	@include fontSize(40, $mob: 32);
}
%subtitle {
	@include fontSize(24);
}
%text {
	@include fontSize(16, $mob: 15);
}


// CENTER POSITION
%centerPos {
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


// IMAGE COVER
%imgCover {
    @extend %width100;
    height: 100%;
    object-fit: cover;
}


// IMAGE CONTAIN
%imgContain {
    @extend %width100;
    height: 100%;
    object-fit: contain;
}