/** BUTTONS **/


// Import
@import '../core.scss';


// BUTTON
.btn {
	@include flex($fw: nowrap, $d: inline-flex);
	min-width: 120px;
	border-radius: 5px;
	border: 1px solid transparent;
	padding: 12px 20px;
	background: $information;
	font-family: $roboto;
	font-size: toRem(15);
	text-align: center;
	color: $white;
	line-height: 1;
	outline: none;
	cursor: pointer;
	@include transition;
	&--red {
		background: $red;
	}
	@include mq {
		min-width: 100px;
		min-height: 41px;
	}
	&:hover {
		background: $black;
	}
}