/* FORM */


// Import
@import '../core.scss';


.form {
	@extend %width100;
	padding: 20px;
	border-radius: 5px;
	background: $white;
	&__box {
		@extend %width100;
		line-height: 0;
		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}
	&__textarea {
		@extend %width100;
		min-height: 25px;
		height: 100px;
		padding: 10px;
		border: 1px solid rgba($grayM, .25);
		border-radius: 5px;
		background: $white;
		font-family: $roboto;
		@extend %text;
		line-height: 1;
		color: rgba($grayM, .75);
		resize: none;
		&::placeholder {
			color: rgba($grayM, .75);
		}
	}
	&__error {
		@include flex($d: inline-flex);
		padding: 5px 8px;
		min-height: 20px;
		margin-top: 5px;
		border-radius: 5px;
		background: rgba($red, .9);
		@include fontSize(11);
		color: $white;
		position: relative;
		&::before {
			content: "";
			display: block;
			@include square(0);
			border: 4px solid;
			border-color: transparent transparent $red transparent;
			position: absolute;
			top: -8px;
			left: 4px;
			pointer-events: none;
		}
	}
}