/** TASKS **/


// Import
@import '../core.scss';


// TASKS
.tasks {
	@extend %width100;
	min-height: 80px;
	&__header {
		margin-bottom: 50px;
	}
	&__title {
		@extend %width100;
		margin-bottom: 30px;
		font-size: toRem(35);
		color: $black;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
	}
	&__container {
		@include flex($jc: space-between, $ai: flex-start, $ac: flex-start);
		@extend %width100;
	}
	&__list {
		width: calc(50% - 15px);
		@include mq {
			&:not(:last-of-type) {
				margin-bottom: 25px;
			}
		}
		@include mq {
			width: 100%;
		}
		&__title {
			@extend %width100;
			margin-bottom: 15px;
			font-size: toRem(20);
			font-weight: 600;
			text-align: center;
			line-height: 1;
			color: $grayM;
		}
	}
}


// TASK
.task {
	@include flex($fw: nowrap);
	@extend %width100;
	padding: 15px;
	border-radius: 5px;
	background: $white;
	box-shadow: 0 3px 7px rgba($black, .1);
	&__state, &__delete, &__edit {
		cursor: pointer;
		position: relative;
		@include transition;
		&::before {
			@extend %pseudoEl;
			width: inherit;
			height: inherit;
			border-radius: inherit;
			position: absolute;
			top: -2px;
			left: -2px;
			@include transition;
			pointer-events: none;
		}
	}
	&__state {
		@include square(17);
		border: 2px solid $grayM;
		border-radius: 2px;
		&::before {
			content: "✔";
			font-size: toRem(12);
			color: $white;
			opacity: 0;
		}
		&.checked {
			border-color: $green;
			background: $white;
			color: $green;
			&::before {
				color: $green;
				opacity: 1;
			}
		}
		&:hover {
			background: rgba($gray, .1);
		}
	}
	&__edit {
		@include square(18);
		margin-right: 10px;
		border: 2px solid $purple;
		border-radius: 3px;
		&::before {
			content: "✎";
			padding-bottom: 2px;
			font-size: toRem(14);
			color: $purple;
			transform: scaleX(-1);
		}
		@include mq {
			margin-right: 5px;
		}
	}
	&__delete {
		@include square(18);
		border: 2px solid $red;
		border-radius: 50%;
		&::before {
			content: "×";
			font-size: toRem(18);
			color: $red;
		}
		@include mq {
			margin-left: 5px;
		}
	}
	&:not(:last-of-type) {
		margin-bottom: 15px;
	}
	&__text {
		@extend %width100;
		padding-left: 15px;
		padding-right: 15px;
		color: $grayD;
		@include mq {
			padding: 10px;
		}
	}
	.tasks__list--done & {
		.task {
			&__edit {
				display: none;
			}
		}
	}
}