/** CONTAINER **/


// CONTAINER
.container {
	@extend %width100;
	&--general {
		@include flex($ai: flex-start, $ac: flex-start);
		min-height: 100vh;
		background: rgba($grayL2, .25);
		overflow: hidden;
	}
	&--limit {
		@extend %widthLimit;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}